@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

  @media screen and (max-width: 600px)
{
.page-footer-grid {
    grid-gap: 2.5rem;
    display: grid;
    gap: 2.5rem;
    grid-template-areas:
        "logo . "
        "nav1 nav2"
        "nav3 nav4"
        "moz moz"
        "legal legal";
    grid-template-columns: 1fr 1fr;
}}

body{
    background: #A6FFFF;
    margin: 0px;
   
}

header{
    width: 100%;
    height: 90px;
    border-radius: 0px 0px 40px 40px;
    background: var(--bg-white, #FFF);
    margin: 0;
    padding: 0;
 /*   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 0.5fr));
  grid-template-rows: auto;
  grid-gap: 0.5vw;*/
}

menu{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 20px;
    /*margin-left: 50px;*/
}

  .buttons {
    transition: 0.5s;
    text-decoration: none;
  /*     border: none; /* Убираем рамку */
    border-radius: 20px;
    padding: 1rem 1rem; /* Поля вокруг текста */
    margin-top: 0rem; /* Отступ снизу */ 
    /*float: inline-end;*/
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 100;
    line-height: 114%;
    letter-spacing: 0.25px;
    color: #000;
   }

   .buttons:hover {
    transition: 0.5s;
    transform: scale(1.2);
    text-decoration: none;
    background: #fff; /* Синий цвет фона */
    color: rgb(0, 0, 0); /* Белый цвет текста */
  /*     border: none; /* Убираем рамку */
    padding: 1rem 1rem; /* Поля вокруг текста */
    margin-top: 0rem; /* Отступ снизу */ 
    /*float: inline-end;*/
    font-size: 21px;
    size: 18px;
    border-radius: 20px;
    background: #0FF;
   }

   .button{
    transition: 0.5s;
    text-decoration: none;
  /*     border: none; /* Убираем рамку */
    border-radius: 20px;
    padding: 1rem 1rem; /* Поля вокруг текста */
    margin: 18px 50px 30px 15px; 
    /*float: inline-end;*/
    text-align: center;
    font-size: 15px;
    size: 15px;
    font-family: Montserrat;
    letter-spacing: 0.25px;
    color: #006eff;
    background: #E3F5F5;
   }

   .button:hover {
    transition: 0.5s;
    transform: scale(1.2);
    text-decoration: none;
    color: #03B2A5; /* Белый цвет текста */
  /*     border: none; /* Убираем рамку */
    /*float: inline-end;*/
    border-radius: 20px;
    background: #E3F5F5;
   }

   .otstup{
    display: flex;
    justify-content: space-between;
   }

   .navig_ico_header{
    transition: 0.5s;
    /*position: absolute;*/
    margin-bottom: 0rem; 
    margin-left: 50px; 
    margin-top: 20px;
  }
   .navig_ico_header:hover{
    transition: 0.5s;
    transform: scale(1.1);
  }

  .navig{
    transition: 0.5s;
  }
  .navig:hover{
    transition: 0.5s;
    transform: scale(1.1);
  }
  
/*Навигация Материалов --------------------------------------------------------------------------*/

/*.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

.dropdown {
    float: left;
    overflow: hidden;
    transition: 0.5s;
    text-decoration: none;
  /*     border: none; /* Убираем рамку */
    border-radius: 20px;
    padding: 0; /* Поля вокруг текста */
    margin-top: 0rem; /* Отступ снизу */ 
    /*float: inline-end;*/
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 100;
    line-height: 114%;
    letter-spacing: 0.25px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    padding: 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;    
}

.dropbtn:hover {
    transition: 0.5s;
    transform: scale(1.1);
    text-decoration: none;
    background: #fff; /* Синий цвет фона */
    color: rgb(0, 0, 0); /* Белый цвет текста */
  /*     border: none; /* Убираем рамку */
    padding: 1rem; /* Поля вокруг текста */
    margin-top: 0rem; /* Отступ снизу */ 
    /*float: inline-end;*/
    border-radius: 20px;
    background: #0FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*------------------------------------------------------------*/

  .ssilka{ 
    color: #f0a03e;
  }
  
  .ssilka:hover{
    transition: 0.5s;
    background: #04b92c;
    color: #ffffff;
  }
  
  .text{
    text-align: center; 
    font: message-box; 
    font-size: 20px;  
    }

footer{
  width: 100%;
  display: block;
  width: 100%;
  margin: 0;
  border-radius: 50px 50px 0px 0px;
  padding: 0 0 40px 0;
  background: #2963A3;
  position: fixed;
  left: 0; bottom: 0;
}

  .footer_ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer_ssilki{
    padding: 2rem 1rem;
    position: relative;
}

  .footer_left_button{
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  .footer_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer_punkt_1{
    color: #FFF;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .footer_punkt_2{
    color: #FFF;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  .footer_info{
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
  }

  .footer_hover{
    transition: 0.5s;
    text-decoration: none;
    color: #7dffff;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  
  .footer_text{
    color: #FFF;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 20px;
  }

  .footer_email{
    width: 30%;
  }

  .footer_hover:hover{
    transition: 0.5s;
    transform: scale(1.2);
    color: #E3F5F5;
  }

  .footer_input{
    width: 300px;
    height: 45px;
    border-radius: 4px;
    background: #FFF;
  }

  .footer_email_sibmit{
    display: flex;
  }

  .btn{
    display: inline-flex;
    height: 50px;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    gap: 10px;
    background: #16C8BB;
  }

  .btn:hover{
    background: #27fff1;
  }